.body {
    display: flex;
    align-items: center;
}

.label {
    display: flex;
    align-items: center;
    word-break: break-word;
    transition: color 0.4s ease, opacity 0.4s ease;
}

.input {
    cursor: pointer;
}