.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.main-menu-add {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.task-item,
.task-item-true {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  margin-top: 10px;
  padding: 4px;
  background-color: #454649;
  transition: all 0.3s ease;
  border-radius: 5px;
  color: white;
}

.task-item.archiving {
  opacity: 0;
  transform: translateX(50px);
}

.task-item.active {
  opacity: 0;
  transform: translateX(-50px);
}

.task-item.default {
  opacity: 0.6;
  text-decoration-line: line-through;
}

.task-icon {
  display: flex;
  cursor: pointer;
  gap: 2px;
}

.navbar {
  display: flex;
  justify-content: end;
  gap: 20px;
  padding: 10px;
}

.login {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.google {
  border: 1px red solid;
  color: red;
  margin-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  cursor: pointer;
}

.modal-btn {
  display: flex;
  justify-content: space-between;
}

.edit {
  padding-top: 10px;
}